img {
  display: block;
  width: 100%;
  height: auto;
}

.hero {
  height: 80vh;
  color: #fff;
  position: relative;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center top;
}

.blogWrapper {
  width: 90%;
  max-width: 1024px;
  margin: auto;
}
