.container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  padding-top: 6em;
}

.headerText {
  font-size: 4rem;
  text-align: center;
}

form {
  width: 300px;
  margin: 5em auto;
}

.hidden {
  display: none;
}

.label {
  display: block;
}

.span {
  color: #4a5568;
}

input,
textarea {
  width: 100%;
  margin-top: 0.25em;
  display: block;
}

input {
  outline: none;
  display: block;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
}

textarea {
  border: 1px solid #d9d9d9;
  padding: 10px 15px;
}

.whatWeDoButton {
  display: inline-block;
  background: #f80f00;
  border: 0.1em solid rgb(248, 15, 0);
  padding: 0.35em 1.2em;
  margin: 1em 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
}

.whatWeDoButton:hover {
  color: #000;
  background: #f80f00;
  border: 0.1em solid #000;
  text-decoration: none;
  box-shadow: 5px 6px 20px rgba(248, 15, 0, 25%);
}

@media (max-width: 500px) {
  .headerText {
    padding-top: 1em;
    font-size: 2.5rem;
  }
}
