.footer {
  background: #151617;
  color: #fff;

  bottom: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.widgets {
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.widgets div:nth-child(1n + 1) {
  align-self: baseline;
}

.link {
  color: #fff;
}

.link:nth-child(1n + 3) {
  margin-left: 2em;
}

.facebookIcon {
  width: 2em;
  height: 2em;
}

.right {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 770px) {
  .widgets {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .facebookIcon {
    margin-top: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .link:nth-child(n + 1) {
    margin-left: 0;
  }

  .link:nth-child(n + 3) {
    margin-left: 1em;
  }

  .left {
    margin-top: 3em;
  }

  .center {
    margin-top: 3em;
  }

  .right {
    margin-top: 3em;
  }
}
