.footer {
  background: #333;
  color: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.widgets {
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.widgets div:nth-child(1n + 1) {
  align-self: center;
}

.link {
  color: #fff;
}

.link:nth-child(1n + 2) {
  margin-left: 2em;
}

.facebookIcon {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 650px) {
  .widgets {
    flex-direction: column;
    align-items: center;
  }

  .facebookIcon {
    margin-top: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .link:nth-child(1n + 2) {
    margin-left: 1em;
  }
}
