.mainHero {
  /*  height: 90vh;
  background: red;
  overflow: hidden; */
}

.heroContainer {
  position: relative;
}

.heroImage {
  position: relative;
  height: 90vh;
}

.heroText {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
  text-transform: uppercase;
  font-family: Rubik;
  font-weight: 700;
  font-size: calc(6em + 1vw);
  margin-bottom: 0;
  text-shadow: 2px 2px 10px rgb(32, 32, 32);
}

.heroText p {
  display: inline-block;
  position: absolute;
  right: -10%;
  bottom: -120px;
}

.heroSubText {
  font-size: 1em;
  position: absolute;
  top: 55%;
  left: 10%;
  color: #fff;
  text-shadow: 2px 2px 10px rgb(32, 32, 32);
  width: 50%;
}

.heroSubText p {
  width: 70%;
}

@media (max-width: 768px) {
  .mainHero {
    text-align: center;
  }

  .heroText {
    font-size: 4em;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }

  .heroText p {
    position: relative;
    display: inline-block;
    top: -25px;
    left: 0;
  }

  .heroSubText {
    left: 50%;
    top: 65%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .heroSubText {
    width: 100%;
  }

  .heroSubText p {
    width: 100%
  }
}

@media (max-width: 600px) {
  .heroText {
    font-size: 3em;
    top: 30%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

  }

  .heroText p {
    top: 0
  }
}