.heroContainer {
  position: relative;
}

.heroImage {
  position: relative;
  height: 90vh;
}

.heroText {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
  text-transform: uppercase;
  font-family: Rubik;
  font-weight: 700;
  font-size: calc(6em + 1vw);
  margin-bottom: 0;
  text-shadow: 2px 2px 10px rgb(32, 32, 32);
}

.heroText p {
  display: inline-block;
  position: absolute;
  right: -10%;
  bottom: -120px;
}

.heroSubText {
  font-size: 1em;
  position: absolute;
  top: 55%;
  left: 10%;
  color: #fff;
  text-shadow: 2px 2px 10px rgb(32, 32, 32);
  width: 50%;
}

.heroSubText p {
  width: 70%;
}


@media (max-width: 768px) {
  .mainHero {
    text-align: center;
  }

  .heroText {
    font-size: 4em;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }

  .heroText p {
    position: relative;
    display: inline-block;
    top: -25px;
    left: 0;
  }

  .heroSubText {
    left: 50%;
    top: 55%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .heroSubText {
    width: 100%;
  }

  .heroSubText p {
    width: 100%
  }
}

@media (max-width: 600px) {
  .heroText {
    font-size: 3em;
    top: 30%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgb(32, 32, 32);
  }

  .heroText p {
    top: -20px;
  }
}







/* WHAT WE DO */


.whatWeDo {
  position: relative;
}

.test {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fff;
}


.whatWeDoBox {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  background: #151617;
  position: relative;
  z-index: 2;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  transition: transform .4s linear 1.2s,
    -webkit-transform .4s linear 1.2s;
}

.whatWeDoBox::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: #151617;
  right: 100%;
  width: 50vw;
}

.whatWeDoBox::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: #151617;
  left: calc(100% - 100px);
  width: 200px;
  height: 100%;
  -webkit-transform: skew(-7deg);
  transform: skew(-7deg);
  z-index: -1;
}

.whatWeDoBox h1 {
  font-size: 2em;
  font-weight: 700;
}

.whatWeDoBox p {
  white-space: pre-wrap;
}

.whatWeDoImageText {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 90%;
  flex: 1 1 90%;
  text-shadow: 2px 2px 4px rgb(32, 32, 32);
  white-space: pre-wrap;
  padding: 200px 0 200px 190px;
}

.whatWeDoImageText h1 {
  font-size: 3em;
  font-weight: 700;
}

.whatWeDoImage {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 925px) {
  .test {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .whatWeDoBox {
    padding: 100px;
    z-index: 0;
  }

  .whatWeDoBox::before {
    display: none;
  }

  .whatWeDoBox::after {
    display: none;
  }

  .whatWeDoImage {
    display: none;
  }

  .whatWeDoImageText {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 200px 0;
    background: url(../../assets/images/whatWeDo.jpg) no-repeat center;
    margin-top: -61px;
  }

  .whatWeDoImageText h1 {
    padding: 0 1em;
  }

  .whatWeDoImageText p {
    padding: 0 1em;

  }

}


@media (max-width:645px) {
  .test {
    width: 100% !important;
    padding: 0 !important;
  }

  .whatWeDoImageText h1 {
    font-size: 1.5em;
  }

  .whatWeDoBox {
    padding: 100px 25px;
  }
}

/* .whatWeDo {
  position: relative;
}

.whatWeDo .triangle {
  width: 0;
  height: 0;
  border-top: 545px solid rgba(248, 15, 0, 90%);
  border-right: 50vw solid transparent;
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -30px;
}

.whatWeDoBox {
  position: absolute;
  top: 50px;
  color: #fff;
  font-size: 2em;
  z-index: 1;
}

.whatWeDoBox p {
  font-size: 0.5em;
  width: 25vw;
  word-break: break-word;
}

.whatWeDoImage {
  height: 500px;
  overflow: hidden;
}

.whatWeDoImageText h1 {
  font-size: 3em;
  font-weight: 700;
}

.whatWeDoImageText {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 43%;
  color: #fff;
}



@media (max-width: 1225px) {
  .whatWeDo .triangle {
    width: 100%;
    height: 400px;
    background: #f80f00;
    border-top: none;
    border-right: none;
    top: 0;
    left: 0;
  }
} */