header ul li a:hover {
  text-decoration: none;
}

.mainHeader {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: top 0.6s;
}

.headerText {
  font-size: 1em;
  text-transform: Uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-family: Rubik;
  font-weight: 700;
  margin-right: auto;
  margin-bottom: 0;
}

.headerText:hover {
  color: #000;
  text-decoration: none;
}

.headerNavText {
  font-size: 1em;
  margin: 0;
}

@media (max-width: 950px) {
  .headerNavText {
    font-size: 0.8em;
  }
}

@media (max-width: 820px) {
  .headerNavText span:nth-child(3) {
    display: block;
    font-size: 0.6em;
    font-weight: 300;
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .headerText {
    margin: 0 auto;
  }

  .headerNavText {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
  }

  .headerNavText::before {
    content: "";
    display: block;
    width: 115px;
    height: 1px;
    background: #fff;
    position: relative;
    top: 28px;
    margin: 0 auto;
  }

  .headerNavText span:nth-child(2) {
    display: none;
  }
}
