html,
body {
  font-family: Rubik;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 10em auto;
  padding: 0 2em;
}

.innerContainer {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  padding: 10em 2em;
}

.innerContainerBlog {
  position: relative;
  top: 4em;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 15px;
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #f80f00;
}
