.active {
  width: 100%;
  top: 0;
  transform: translateY(0px);
  z-index: 10;
}

.hidden {
  /* top: -65px; */
  transform: translateY(-65px);
}


header ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: max-content;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

header ul li {
  list-style: none;
  will-change: transform;
  background: red;
}

@media (max-width:600px) {
  header ul li:nth-child(1) {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: slideIn 0.15s backwards;
  }
  
  header ul li:nth-child(4) {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: slideIn 0.15s backwards;
  }

  header ul li a {
    position: relative;
    transition: color 0.3s ease;
  }
}

header ul li:nth-child(-1n+3) {
  margin-right: 20px;
}

header ul li a {
  color: #fff;
  text-transform: uppercase;
}



header ul li a:hover {
  text-decoration: none;
}

header ul li a:hover {
  color: #000;
}

header ul li a::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid #000;
  transition: width 0.3s ease;
}

header ul li a:hover::after {
  left: 0;
  width: 100%;
  transition: width 0.3s ease;
}

@media (max-width: 600px) {
  header ul {
    display: block;
  }

  header ul li:nth-child(-n+4) {
    margin-right: 0px;
  }

  header ul li a::after {
    display: none;
  }

  .cd-stretchy-nav {
    position: fixed;
    z-index: 2;
    top: 140px;
    right: 5%;
    will-change: auto;
    filter: drop-shadow(2px 4px 6px black);
  }

  .cd-stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #f80f00;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, -webkit-box-shadow 0.2s;
    transition: height 0.2s, -webkit-box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }

  .cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
  }

  .cd-stretchy-nav ul {
    position: relative;
    z-index: 2;
    visibility: hidden;
    padding: 60px 0 0;
    /* text-align: right; */
    /* -webkit-transition: visibility 0.3s; */
    /* transition: visibility 0.3s; */
  }

  header ul li a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-shadow: 2px 2px 10px rgb(36, 36, 36);
    padding: 0 calc(1em + 60px) 0 1em;

    font-size: 1.4rem;
    -webkit-transition: color 0.2s;
    text-transform: capitalize;
    transition: color 0.2s;
  }

  .cd-stretchy-nav ul a::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 16px;
    top: 50%;
    right: 60px;
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
    transform: translateX(3px) translateY(-50%) scaleY(0);
  }

  .cd-stretchy-nav ul a::after {
    /* navigation item icons */
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0.6;
    /* background: url(../img/cd-sprite-1.svg) no-repeat 0 0; */
  }

  .cd-stretchy-nav ul span {
    /* navigation item labels */
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }

  .cd-stretchy-nav.nav-is-visible ul {
    visibility: visible;
  }

  .cd-stretchy-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
  }

  .cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: slideIn 0.15s backwards;
    animation: slideIn 0.15s backwards;
  }

  .cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
  .cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
  }

  /* animation delay for other children here ...*/

  @-webkit-keyframes scaleIn {
    from {
      -webkit-transform: translateY(-50%) scale(0);
      transform: translateY(-50%) scale(0);
    }

    to {
      -webkit-transform: translateY(-50%) scale(1);
      transform: translateY(-50%) scale(1);
    }
  }

  @keyframes scaleIn {
    from {
      -webkit-transform: translateY(-50%) scale(0);
      transform: translateY(-50%) scale(0);
    }

    to {
      -webkit-transform: translateY(-50%) scale(1);
      transform: translateY(-50%) scale(1);
    }
  }

  @-webkit-keyframes slideIn {
    from {
      opacity: 0;
      -webkit-transform: translateX(-25px);
      transform: translateX(-25px);
    }

    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      -webkit-transform: translateX(-25px);
      transform: translateX(-25px);
    }

    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .cd-nav-trigger {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    border: 1px solid #000;
  }

  .cd-nav-trigger span {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }

  .cd-nav-trigger span::before,
  .cd-nav-trigger span::after {
    content: "";
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  .cd-nav-trigger span::before {
    -webkit-transform: translateY(-6px);

    transform: translateY(-6px);
  }

  .cd-nav-trigger span::after {
    -webkit-transform: translateY(6px);

    transform: translateY(6px);
  }

  .cd-nav-trigger .nav-is-visible span::before {
    content: "";
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fff;
  }

  .cd-stretchy-nav.edit-content ul span {
    position: absolute;
    top: 0;
    right: 35px;
    height: 30px;
    line-height: 30px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.55);
    -webkit-transition: opacity 0.2s, visibility 0.2s;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .cd-stretchy-nav.edit-content ul span::after {
    /* triangle below the tooltip */
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.55);
  }

  .cd-stretchy-nav.nav-is-visible ul a.active {
    color: #fff;
  }

  .no-touch .cd-stretchy-nav.edit-content.nav-is-visible ul a:hover span {
    opacity: 1;
    visibility: visible;
  }

  .nav-is-visible .cd-nav-trigger span {
    background-color: transparent;
  }

  .nav-is-visible .cd-nav-trigger span::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .nav-is-visible .cd-nav-trigger span::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
